#ignore
tests/*
build/*
include/*
Make*
modules/*
.libs/*
*lo
*la
*in
.deps
*.txt
acinclude.m4
autom4te*
aclocal.m4

config.guess

config.log

config.nice

config.status

config.sub

install-sh

libtool

*.sh

missing

mkinstalldirs

*.php
